.normal {
    background-color: #6c767c !important;
    border-color: #929da3 !important;
}

.flying {
    background-color: #5776a5 !important;
    border-color: #8caadc !important;
}

.poison {
    background-color: #904cac !important;
    border-color: #ac66c8 !important;
}

.ground {
    background-color: #b85d2c !important;
    border-color: #d97946 !important;
}

.rock {
    background-color: #827649 !important;
    border-color: #c6b887 !important;
}

.bug {
    background-color: #518300 !important;
    border-color: #90c127 !important;
}

.steel {
    background-color: #367489 !important;
    border-color: #518ea3 !important;
}

.fire {
    background-color: #cc4408 !important;
    border-color: #cc6e45 !important;
}

.water {
    background-color: #2e78ba !important;
    border-color: #4f92d6 !important;
}

.grass {
    background-color: #2b8721 !important;
    border-color: #65bd55 !important;
}

.electric {
    background-color: #907200 !important;
    border-color: #fad143 !important;
}

.psychic {
    background-color: #cb4851 !important;
    border-color: #f97175 !important;
}

.ice {
    background-color: #1d8373 !important;
    border-color: #72cfbd !important;
}

.dragon {
    background-color: #0052a8 !important;
    border-color: #116ac4 !important;
}

.dark {
    background-color: #433d4c !important;
    border-color: #5b5464 !important;
}

.fairy {
    background-color: #a955a4 !important;
    border-color: #eb92e4 !important;
}

.fighting {
    background-color: #b02352 !important;
    border-color: #ce436a !important;
}

.ghost {
    background-color: #33548f !important;
    border-color: #4e6caa !important;
}
